body{
	padding: 0px;
	margin: 0px;
	background-color: #F4EBE2
}
@media screen and (max-width: 480px) {
    body {
        background-color: #F4EBE2;
    }
}
 /*Header and Section*/
section#sec{
	width: 100%;
	height: 80px;
	background-color: #F4EBE2;
	padding-top: 10px;
	/*position: fixed;*/
}
ul{
	display: inline;
	list-style-type: none;
}
.list1{
	float: right;
	padding: 20px;
	margin-left:auto;
	color: grey;
	cursor: pointer;
}
.list2{
	float: left;
	padding-left: 40px;
	margin-top: 10px;
	
}
.btn{
	border-radius: 10px;
	background-color: grey;
	color: white;
	cursor: pointer;
}
@media screen and (max-width: 1307px) {

	#sec{
		width:100px;
		min-height: 200px;
		text-align: center;	
	}
   /* ul {
        display: block;
   }*/
    .list1{
     	padding: 5px;
     	display: block;
     	float: none;
     	text-align: center;
    }
    .list2{
    	display: none;
    	padding: 10px;
    	padding-left: 20px
    }

 }

.navli{
	line-height: 66px;
	color: white;
	text-decoration: none; 
}
/*.bar{
	width: 83px;
}*/
.btn2{
	background-color: #2D4059;
	color: grey;
	width: 90px;
	border-radius: 7px
}
.mark{
	padding-top: 0px;
	color: grey;
	margin-bottom: 20px
}
.btns{
	background-color: grey;
	border-radius: 20px;
	cursor: pointer;
}
.ref{
	color: white;
	text-decoration: none;
}
.marky{
	color: grey
}
@media screen and (max-width: 695px) {
    .nav {
        display: none;
        height: 500px
    }
    .navli{
    	text-align: center;
    	display: block;
    }
}
.search{
	text-align: center;
}
.mak{
	display: flex;

}
.new{
	height: 600px;
	width: 100%;
	color: yellow;
}
.vert{
	background-color: #F4EBE2;
	margin-top: 0px;
	width: 80px;
	padding-bottom: 100px
	padding-top: 60px;
	height: 300px;
	display: flex;
	margin-bottom: 200px
}
.the{
	line-height: 40px;
	text-align: center;
	margin-bottom: 100px;
}
.mark{
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 5px
}
.backup{
	width: 1170px;
	padding-left: 11px;
	padding-top: 0px;
	height: 450px;
	padding-bottom: 20px;
	margin-bottom: 100px
}
.vert1{
	/*padding-bottom: 20px;*/
	margin-bottom: 120px;
	
}
@media screen and (max-width: 1307px) {
	.backup{
		width: 300px;

	}	
	.rit{
		display: none;
	}
		
	
}
.rit{
	position: absolute;
	left: 0;
	top: 100%;
	color: red;
	text-align: center;
	padding-left: 70px;
}
.cov{
	position: relative;
}
.btt{
	border-radius: 40px;
	color: black;
	background-color: grey;
	height: 40px;
	width: 100px;
	cursor: pointer;
}
.phones{
	display: flex;
	height: 30%;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;
}
h1.price{
	text-align: center;
}
.price2{
	text-align: center;
}
.top{
	text-align: center;
	color: black
}
.alb{
	width: 300px;
	height: 300px;
	box-shadow: 5px 5px grey
}
.footer{
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: black
}